<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="">KidsWorld</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/atelier" routerLinkActive="active">Ateliers</a></li>
      <li class="nav-item"><a class="nav-link" href="">Contacts</a></li>
    </ul>

    <ul  class="navbar-nav navbarRightPart">
      <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/connexion" routerLinkActive="active">Connexion</a></li>
      <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/inscription" routerLinkActive="active">Inscription</a></li>
      <li *ngIf="userService.loggedIn() && admin" class="nav-item dropdown show">

          <a class="dropdown-toggle nav-link" href="#" role="button" style="color:rgba(0,0,0,.5)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/admin/livres" routerLinkActive="active">Livres</a>
            <a class="dropdown-item" routerLink="/admin/ateliers" routerLinkActive="active">Ateliers</a>
            <a class="dropdown-item" href="#">Réglages</a>
        </div>
      <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/utilisateur" routerLinkActive="active">Mon compte</a></li>
      <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" (click)="userService.logOutUser()">Déconnexion</a></li>
    </ul>
  </div>
</nav>
