<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="">KidsWorld</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/catalogue" routerLinkActive="active">Catalogue</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/atelier" routerLinkActive="active">Ateliers</a></li>
      <li class="nav-item"><a class="nav-link" href="">Contacts</a></li>
    </ul>

    <ul  class="navbar-nav navbarRightPart">
      <li class="nav-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Administration</a></li>
      <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a></li>
      <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active">Inscription</a></li>
      <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" (click)="userService.logOutUser()">Déconnexion</a></li>
    </ul>
  </div>
</nav>
