<app-admin-panel xmlns=""></app-admin-panel>

<div class="generalContainer">
  <div class="row categoryButtons">
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category === null, 'btn-primary': category !== null}" (click)="trier()">Tous les livres</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == '3 à 6 ans', 'btn-info': category != '3 à 6 ans'}" (click)="trier('3 à 6 ans')">3 à 6 ans</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == '6 à 9 ans', 'btn-info': category != '6 à 9 ans'}" (click)="trier('6 à 9 ans')">6 à 9 ans</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == '9 à 13 ans', 'btn-info': category != '9 à 13 ans'}" (click)="trier('9 à 13 ans')">9 à 13 ans</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == 'À partir de 13 ans', 'btn-info': category != 'À partir de 13 ans'}" (click)="trier('À partir de 13 ans')">À partir de 13 ans</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == 'À partir de 15 ans', 'btn-info': category != 'À partir de 15 ans'}" (click)="trier('À partir de 15 ans')">À partir de 15 ans</button>
    <button type="button" style="float:right" class="btn" [ngClass]="{'btn-success': category == 'Comics', 'btn-info': category != 'Comics'}" (click)="trier('Comics')">Comics</button>
  </div>
  <table id="table" class="table table-striped table-hover table-sm">
    <thead class="thead-light">
    <tr>
      <th class="sortable" (click)="sortTable(0)" scope="col">Titre</th>
      <th class="sortable" (click)="sortTable(1)" scope="col">ISBN</th>
      <th scope="col">Price</th>
      <th class="sortable" (click)="sortTable(3)" scope="col">Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books" routerLink="/book/{{book.idBook}}">
      <td>{{book.titleBook}}</td>
      <td>{{book.ISBN}}</td>
      <td>{{book.price}}</td>
      <td [ngClass]="{'inStock': book.nbStock > 0, 'outOfStock': book.nbStock <= 0}"><strong>{{book.nbStock}}</strong></td>
    </tr>
    </tbody>
  </table>
</div>

