.trendsImg{
  margin-right: 10px;
}

.CartBtn{
  margin-left: 10px;
}

.headerBook{
  margin-left: 10px;
  margin-top: 10px;
}

.badge-pill{
  margin-right: 5px;
}

.authors{
  list-style: none;
  padding-left: 0px;
}

.headerSummary{
  font-size: 20px;
}

.summary{
  font-size: 17px;
}

.headerPersonnalizedWord{
  font-size: 20px;

}

.personnalizedWord{
  font-size: 17px;
}

#personnalizedWord{
  background-color: #EEE;
  padding: 15px 15px 7px 15px;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

