<div class="generalContainer">
  <div class="row headerBook">
    <h1>{{book.titleBook}}</h1>
  </div>


  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-5">

      <img src="assets/img/{{book.idBook}}.png" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-7 mb-4">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge badge-primary badge-pill" style="font-size: 17px;">{{book.nameCategory}}</span>
          </a>
            <span *ngIf="book.nbStock > 0" class="badge badge-success badge-pill" style="font-size: 17px;">En stock</span>
            <span *ngIf="book.nbStock <= 0" class="badge badge-danger badge-pill" style="font-size: 17px;">Rupture de stock</span>
        </div>

        <dl class="row lead">
          <dt class="col-sm-3">Prix</dt>
          <dd class="col-sm-9">{{book.price | currency:'EUR'}}</dd>

          <dt class="col-sm-3">Ecrit par</dt>
          <dd class="col-sm-9 ">
            <p style="margin-bottom: 3px;" *ngFor="let author of authors">{{author.fNameAuthor}} {{author.nameAuthor}}</p>
          </dd>

          <dt class="col-sm-3 align-middle">Edité par</dt>
          <dd class="col-sm-9">{{book.namePublisher}}</dd>

          <dt class="col-sm-3 align-middle">ISBN</dt>
          <dd class="col-sm-9">{{book.ISBN}}</dd>
        </dl>


        <p *ngIf="book.trends" class="card-text"><img class="trendsImg" src="assets/img/heart.png"/><strong>Coup de coeur du libraire</strong></p>


        <strong class="headerSummary">Résumé</strong>

        <p class="text-justify summary">{{book.summary}}</p>

         <div id="personnalizedWord" class="rounded" *ngIf="book.personnalizedWord !== null">
           <strong class="headerPersonnalizedWord">Mot du libraire</strong>
           <p class=" personnalizedWord text-justify">
             {{book.personnalizedWord}}
           </p>
         </div>

          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md CartBtn" type="submit">Ajouter au panier
              <i class="fa fa-shopping-cart ml-1"></i>
            </button>

          </form>
      </div>
      <!--Content-->

    </div>
    <!--Grid column-->

  </div>
</div>
