<div class="generalContainer">
  <h1 class="my-4">Catalogue <span *ngIf="category !== null">- {{category}}</span></h1>

      <div class="form-inline float-left" style="max-width: 50%;">
        <input class="form-control mr-sm-2" type="search" id="inputSearch" (keyup)="sortSearchBar()" placeholder="Rechercher par titre" aria-label="Search">
      </div>

      <div class="dropdown categoryButtons float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span *ngIf="category === null">Trier par catégorie</span><span *ngIf="category !== null">{{category}}</span></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category === null, 'btn-primary': category !== null}" (click)="trier(0, '0')">Tous les livres</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == '3 à 6 ans', 'btn-info': category != '3 à 6 ans'}" (click)="trier(1,'3 à 6 ans')">3 à 6 ans</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == '6 à 9 ans', 'btn-info': category != '6 à 9 ans'}" (click)="trier(2,'6 à 9 ans')">6 à 9 ans</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == '9 à 13 ans', 'btn-info': category != '9 à 13 ans'}" (click)="trier(3,'9 à 13 ans')">9 à 13 ans</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == 'A partir de 13 ans', 'btn-info': category != 'A partir de 13 ans'}" (click)="trier(4,'A partir de 13 ans')">A partir de 13 ans</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == 'A partir de 15 ans', 'btn-info': category != 'A partir de 15 ans'}" (click)="trier(5,'A partir de 15 ans')">A partir de 15 ans</button>
          <button type="button"  class="btn dropdown-item" [ngClass]="{'btn-success': category == 'Comics', 'btn-info': category != 'Comics'}" (click)="trier(6,'Comics')">Comics</button>
        </div>
      </div>

  <div class="row">
    <div class="cardBook col-lg-3 col-md-4 col-sm-6 portfolio-item book" *ngFor="let book of books">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title align-middle"><a routerLink="/livre/{{book.idBook}}" routerLinkActive="active" class="titleBook">{{book.titleBook}}</a></h4>
        </div>
        <a><img class="cardImg" src="assets/img/{{book.idBook}}.png" alt="img {{book.titleBook}}"></a>
        <div class="card-body">
          <p *ngIf="book.summary !== undefined" class="text-justify card-text">{{trimSummary(book.summary)}}</p>
          <p *ngIf="book.trends" class="card-text"><img class="trendsImg" src="assets/img/heart.png"/><strong>Coup de coeur du libraire</strong></p>
        </div>
        <div class="card-footer">
          <p class="card-text">{{book.nameCategory}}<span style="float:right">{{book.price | currency:'EUR'}}</span></p>
          <button type="button" class="btn btn-primary">Détails</button>
          <button *ngIf="book.nbStock > 0" type="button" style="float:right" class="btn btn-success">En stock</button>
          <button *ngIf="book.nbStock <= 0" type="button" style="float:right" class="btn btn-danger">Indisponible</button>
        </div>
      </div>
    </div>
  </div>
</div>
