<div class="generalContainer">


  <h3 style="margin-bottom: 20px;" *ngIf="user !== undefined">Bonjour {{user.fNameUser}} {{user.nameUser}} !</h3>


  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card" style="margin-bottom: 20px;">
        <div class="card-header">
          <h4 class="card-title align-middle">Vos informations</h4>
        </div>
        <div class="card-body">
          <dl class="row lead">
            <dt class="col-sm-5">Nom</dt>
            <dd *ngIf="user !== undefined" class="col-sm-7">{{user.nameUser}}</dd>

            <dt class="col-sm-5">Prénom</dt>
            <dd class="col-sm-7" *ngIf="user !== undefined">{{user.fNameUser}}</dd>

            <dt class="col-sm-5 align-middle">Email</dt>
            <dd *ngIf="user !== undefined" class="col-sm-7">{{user.email}}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div *ngIf="participates !== undefined" class="col-12 col-lg-6">
      <h4>Ateliers réservés </h4>
      <table *ngIf="participates.length != 0" id="table" class="table table-striped table-hover table-sm" style="margin-top: 5px" >
        <thead class="thead-light">
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Date</th>
          <th scope="col">Nombre de place</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let participate of participates" routerLink="/atelier/{{participate.idWorkshop}}">
          <td>{{participate.titleWorkshop}}</td>
          <td>{{participate.dateWorkshop | date:'d MMM y à HH:mm':'':'fr'}}</td>
          <td>{{participate.nbSeat}}</td>
        </tr>
        </tbody>
      </table>

      <div *ngIf="participates.length == 0">
        <p>Il semblerait que vous n'ayez réservé aucun atelier. N'essayer pas à découvrir nos ateliers !</p>
        <div style="margin-top: 30px"><button class="btn btn-success" routerLink="/ateliers" routerLinkActive="active">Découvrir les ateliers</button></div>
      </div>
    </div>

  </div>
</div>


