/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Lato', sans-serif;
}

.navbar{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 1024px){
  .navbarRightPart{
    float:right
  }
}

.generalContainer{
  padding: 20px;
}

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.requiredAsterisk:after {
  content:"*";
  color:red;
}
