<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Kids World</h1>
    <p class="lead">La librairie spécialisée dans les livres destinées aux enfants et adolescents</p>
  </div>
</header>

<div class="generalContainer">

  <div class="row">
    <div class="col-4 indexCol">
      <p>
        Horaires
        Horaires
        Horaires
        Horaires
        Horaires
        Horaires
        Horaires
      </p>
    </div>
    <div class="col-4 indexCol"> Info ? </div>
    <div class="col-4 lastIndexCol">
      Info sur le prochain atelier

    </div>
  </div>

</div>
